@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, 游ゴシック, Verdana, Geneva, Tahoma, sans-serif;
  color: #3E3E3E;
  font-size: 16px;
  line-height: 1.5;
  background: #F3F3F3;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #082B48;
}
a:hover {
  opacity: 0.5;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

li {
  list-style: none;
}

.inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.section {
  margin-top: 160px;
}
@media screen and (max-width: 767px) {
  .section {
    margin-top: 96px;
  }
}

@media screen and (max-width: 767px) {
  .result-footer {
    text-align: center;
  }
}

.header {
  background: rgba(255, 255, 255, 0.1019607843);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .header {
    height: 65px;
  }
}
.header .drawer-hamburger-icon {
  width: 26px;
  height: 5px;
}
.drawer-open .header .drawer-hamburger-icon {
  background: transparent;
}
.header .drawer-hamburger-icon::before, .header .drawer-hamburger-icon::after {
  width: 26px;
  height: 5px;
}
.drawer-open .header .drawer-hamburger-icon::before, .drawer-open .header .drawer-hamburger-icon::after {
  background-color: #fff;
}

.header-title-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .header-title-sp {
    display: block;
    font-size: 23px;
    font-weight: bold;
    padding: 20px 16px;
  }
}

.header-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 80px;
}
@media screen and (max-width: 767px) {
  .header-nav {
    height: 60px;
  }
}

.header-nav-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header-nav-list {
    display: block;
    margin-top: 160px;
  }
}

@media screen and (min-width: 1101px) {
  .header-nav-item + .header-nav-item {
    margin-left: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .header-nav-item + .header-nav-item {
    margin-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .header-nav-item {
    margin-top: 30px;
  }
}

.header-nav-item-link {
  text-align: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .header-nav-item-link {
    font-size: 18px;
    font-weight: medium;
  }
}
.header-nav-item-link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.header-nav-item-link:hover {
  opacity: 0.5;
}
.header-nav-item-link:hover::after {
  background: #333;
}
.header-nav-item-link.is-active::after {
  background: #333;
}

.main {
  position: relative;
  background: url(../img/pc/mv@2x.png) 24% center/cover;
  height: 648px;
}
@media screen and (max-width: 767px) {
  .main {
    height: 668px;
  }
}

@media screen and (min-width: 1101px) {
  .top-inner {
    margin: 0 auto;
    max-width: 1240px;
    padding: 228px 20px 0 0;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .top-inner {
    margin: 0 auto;
    padding: 228px 20px 0 0;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .top-inner {
    padding: 220px 16px 0;
    width: 100%;
  }
}

@media screen and (min-width: 1101px) {
  .top-message {
    max-width: 600px;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .top-message {
    margin-left: auto;
    max-width: 600px;
  }
}
@media screen and (max-width: 767px) {
  .top-message {
    max-width: 336px;
    text-align: left;
  }
}

.top-main-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .top-main-title {
    font-size: 24px;
    line-height: 1.66;
    margin-left: 16px;
  }
}
@media screen and (max-width: 767px) {
  .top-main-title {
    font-size: 24px;
    line-height: 1.66;
  }
}

.top-sub-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .top-sub-title {
    font-size: 14px;
    margin-top: 20px;
  }
}

.top-contact-button {
  margin-top: 46px;
}
@media screen and (max-width: 767px) {
  .top-contact-button {
    margin-top: 36px;
    text-align: center;
  }
}

.top-contact {
  background: #FFAA3B;
  border-radius: 10px;
  color: #FFFFFF;
  width: 282px;
  max-width: 100%;
  padding: 16px 50px;
  transition: background 0.4s, color 0.4s;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .top-contact {
    font-size: 16px;
    padding: 16px 32px;
  }
}
.top-contact:hover {
  background: #F18900;
}

.news {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .news {
    margin: -40px 16px 0;
    position: relative;
    z-index: 1;
  }
}

.news-inner {
  background: #fff;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
  margin-top: 120px;
  display: inline-block;
  padding: 58px 48px 40px 40px;
}
@media screen and (max-width: 767px) {
  .news-inner {
    max-width: 343px;
    padding: 36px 0 38px 0;
    margin-top: 0;
  }
}

.section-title-news {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .section-title-news {
    font-size: 30px;
    text-align: center;
  }
}

.news-box {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .news-box {
    margin-top: 30px;
  }
}

.news-item-link {
  max-width: 1080px;
  display: flex;
  align-items: center;
  border-top: 1px solid #F3F3F3;
  padding: 38px 110px 38px 0px;
  transition: background 0.4s, color 0.4s;
  position: relative;
}
.news-item-link::after {
  content: "";
  display: block;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 21.5px;
  background: url(../img/pc/news-arrow@2x.png) no-repeat center center/contain;
  margin-right: 60px;
}
@media screen and (max-width: 767px) {
  .news-item-link::after {
    right: -48px;
  }
}
.news-item-link:hover {
  background: rgba(73, 115, 255, 0.1);
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .news-item-link {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .news-item-link {
    flex-wrap: wrap;
    padding: 10px 34px 12px 16px;
    margin-top: 0px;
  }
  .news-item-link:first-child {
    padding: 10px 34px 12px 16px;
  }
}

.news-item-link:last-child {
  border-bottom: 1px solid #F3F3F3;
}

.nes-head {
  display: flex;
}

.news-date {
  text-align: center;
  font-size: 18px;
  width: 98px;
  white-space: nowrap;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .news-date {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .news-date {
    font-size: 14px;
    width: 76px;
  }
}

.news-item-title {
  text-align: center;
  font-size: 14px;
  padding: 0px 32px;
  border-radius: 50px;
  border: 2px solid #3B69FF;
  display: inline-block;
  line-height: 1.8;
  margin-left: 42px;
  white-space: nowrap;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .news-item-title {
    font-size: 14px;
    margin-left: 20px;
    padding: 0 30px;
    vertical-align: middle;
  }
}
@media screen and (max-width: 767px) {
  .news-item-title {
    font-size: 12px;
    margin-left: 20px;
    padding: 2px 16px;
    line-height: 1.4;
    white-space: nowrap;
  }
}

.news-item-text {
  max-width: 698px;
  text-align: left;
  margin: 0 0px 0 42px;
  font-size: 18px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .news-item-text {
    flex-wrap: wrap;
    margin: 0 56px 0 0px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 767px) {
  .news-item-text {
    font-size: 14px;
    margin: 8px 0px 0 0px;
  }
}

.news-footer {
  text-align: center;
}

.news-footer-more {
  font-size: 20px;
  letter-spacing: 0.2em;
  border: 1px solid #707070;
  color: #3E3E3E;
  background: #fff;
  display: inline-block;
  padding: 12px 92px;
  margin-top: 30px;
  transition: background 0.4s, color 0.4s;
}
.news-footer-more:hover {
  background-color: #3E3E3E;
  color: #fff;
  opacity: 1;
}

.service {
  background: linear-gradient(to bottom, #3e3e3e 0, #3e3e3e 400px, transparent 400px, transparent 100%);
  text-align: center;
  margin-top: 120px;
  padding-top: 58px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .service {
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .service {
    margin-top: 40px;
  }
}

.section-title-service {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .section-title-service {
    font-size: 30px;
  }
}

.service-inner {
  max-width: 960px;
  margin: 58px auto 0;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .service-inner {
    padding: 0 40px;
  }
}
@media screen and (max-width: 767px) {
  .service-inner {
    margin: 38px 16px 0;
  }
}

.service-list-box {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .service-list-box {
    display: flex;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .service-list-box {
    display: block;
  }
}

.service-item {
  padding: 60px 45px;
}
@media screen and (max-width: 767px) {
  .service-item {
    margin: 0;
    padding: 40px 16px 0px 16px;
  }
  .service-item:last-child {
    padding: 54px 16px 30px 16px;
  }
}
.service-item dt {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
  letter-spacing: 0.2em;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .service-item dt {
    margin-top: 12px;
  }
}
.service-item dd {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: left;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .service-item dd {
    margin-top: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .service-item {
    flex: 0 1 33.3333%;
    padding: 58px 45px 60px;
  }
}

.service-item-link:hover .service-image > img {
  transform: scale(1.05);
}

.service-image {
  max-width: 64px;
  max-height: 64px;
  margin: auto;
  padding-top: 5px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .service-image {
    width: 50px;
    height: 50px;
  }
}
.service-image > img {
  transition: transform 0.4s;
}

.result {
  background: #3E3E3E;
  max-width: calc(50vw + 600px);
  margin: 106px 0 0 170px;
  padding: 60px 0 60px 60px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .result {
    margin: 120px 0 0 0px;
    padding: 60px 0 60px 60px;
  }
}
@media screen and (max-width: 767px) {
  .result {
    margin: 60px 0 0px;
    padding: 36px 0 40px 10px;
  }
}

.section-title-result {
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .section-title-result {
    font-size: 30px;
    text-align: center;
    margin-bottom: 38px;
  }
}

.result-list-box {
  display: flex;
}

.result-photo img {
  width: 100%;
}

.result-item-body {
  background: white;
  color: #3e3e3e;
  display: block;
}

.result-item-title {
  font-size: 20px;
  font-weight: bold;
  padding: 16px 16px 8px 16px;
}
@media screen and (max-width: 767px) {
  .result-item-title {
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px 8px 12px;
  }
}

.result-item-text {
  font-size: 16px;
  padding: 0 16px 16px 16px;
}
@media screen and (max-width: 767px) {
  .result-item-text {
    font-size: 12px;
    font-weight: normal;
    padding: 0px 12px 8px 12px;
  }
}

.slide-container {
  width: 100%;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 0 0 20px !important;
  background: #fff;
  opacity: 1;
  position: relative;
}
.swiper-pagination-bullet:focus {
  outline: none;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  border: solid 1px #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 16px;
  margin-left: 16px;
}

.result-pagination {
  text-align: left;
}
@media screen and (max-width: 767px) {
  .result-pagination {
    text-align: center;
  }
}

.swiper-pagination-bullets {
  position: static;
  margin: 40px 0 36px -15px;
}
@media screen and (max-width: 767px) {
  .swiper-pagination-bullets {
    margin: 22px 0 20px -15px;
  }
}

.util-link-view {
  font-size: 20px;
  letter-spacing: 0.2em;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  padding: 16px 78px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .util-link-view {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .util-link-view {
    padding: 12px 100px;
    font-size: 18px;
    margin-left: -5px;
  }
}
.util-link-view:hover {
  background: #fff;
  color: #333;
  opacity: 1;
}

.price {
  margin: 120px auto 0;
  max-width: 1040px;
  padding: 0 40px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .price {
    margin: 120px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .price {
    margin: 40px 0 0;
    padding: 0 20px;
  }
}

.section-title-price {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .section-title-price {
    font-size: 30px;
    text-align: center;
    margin-bottom: 36px;
  }
}

.price-list-box {
  justify-content: center;
  max-width: 960px;
  width: 100%;
  border: 1px solid #707070;
  border-collapse: collapse;
}
.row-item,
.price-item {
  font-size: 24px;
  font-weight: bold;
  padding: 12px 40px;
}
@media screen and (max-width: 767px) {
  .row-item,
.price-item {
    font-size: 20px;
    padding: 12px 20px;
  }
}

.row-item {
  width: 27.3%;
  color: #fff;
  background: #3E3E3E;
  border: 1px solid #707070;
}

.price-item {
  color: #3E3E3E;
  border: 1px solid #707070;
  white-space: nowrap;
}

.price-remark {
  font-size: 12px;
  color: #3E3E3E;
  margin-top: 12px;
}
@media screen and (max-width: 767px) {
  .price-remark {
    margin-top: 8px;
  }
}

.bg-wrapper {
  position: relative;
}
.bg-wrapper:before {
  background: #3e3e3e;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 294px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .bg-wrapper:before {
    top: 146px;
    width: 76.5625%;
  }
}

.comments {
  margin-top: 116px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .comments {
    margin: 54px 16px;
  }
}

.comments-inner {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.comments-box {
  background: #fff;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}
@media screen and (min-width: 1101px) {
  .comments-box {
    padding: 114px 60px 130px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .comments-box {
    padding: 114px 60px 130px;
  }
}
@media screen and (max-width: 767px) {
  .comments-box {
    padding: 36px 20px 32px;
    width: 100%;
  }
}

.comments-title {
  font-size: 36px;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .comments-title {
    font-size: 30px;
  }
}

.comments-list {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.65;
}
.guest-comments {
  max-width: 545px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-ideograph;
  margin-top: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .guest-comments {
    margin-top: 54px;
  }
}
@media screen and (max-width: 767px) {
  .guest-comments {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285714286;
    margin-top: 34px;
  }
}
.guest-comments:before {
  content: "";
  display: block;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 32px;
}
@media screen and (max-width: 767px) {
  .guest-comments:before {
    flex: 0 0 56px;
    height: 56px;
    margin-right: 24px;
  }
}
.guest-comments:nth-child(1):before {
  background: url(../img/pc/comments1@2x.png) center center/contain no-repeat;
}
.guest-comments:nth-child(2):before {
  background: url(../img/pc/comments2@2x.png) center center/contain no-repeat;
}

.comments-fig {
  margin-top: 80px;
}
@media screen and (max-width: 767px) {
  .comments-fig {
    display: none;
  }
}
.comments-fig > img {
  width: 100%;
}

.qa {
  background: url(../img/pc/qa-bg@2x.png) no-repeat top center/cover;
  position: relative;
  z-index: 1;
  margin-top: 120px;
  padding: 56px 0px 120px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .qa {
    background-attachment: fixed;
    margin-top: 120px;
    padding: 56px 0 124px;
  }
}
@media screen and (max-width: 767px) {
  .qa {
    margin-top: 60px;
    padding: 36px 16px 60px;
  }
}

.section-title-qa {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .section-title-qa {
    font-size: 30px;
    text-align: center;
  }
}

.qa-inner {
  margin: 50px auto 0;
  max-width: 1200px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .qa-inner {
    margin: 34px auto 0;
  }
}

.qa-items {
  width: 612px;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .qa-items {
    width: auto;
  }
}

.qa-item {
  margin-bottom: 32px;
  background: #fff;
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .qa-item {
    margin-bottom: 24px;
  }
  .qa-item:last-child {
    margin-bottom: 0;
  }
}

.qa-box-q {
  padding: 16px 56px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}
@media screen and (max-width: 767px) {
  .qa-box-q {
    padding: 16PX 56px 16PX;
  }
}
.qa-box-q::before {
  position: absolute;
  content: "Q";
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #3B69FF;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px 6px 3px 5px;
  border-radius: 50%;
}

.qa-box-icon {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
}
.qa-box-icon.is-open .qa-box2 {
  transform: rotate(90deg);
}

.qa-box1 {
  position: absolute;
  width: 17px;
  height: 2px;
  border-radius: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #3B69FF;
}

.qa-box2 {
  position: absolute;
  width: 2px;
  height: 17px;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
  top: 0%;
  background: #3B69FF;
}

.qa-box-a {
  display: none;
}

.qa-box-content {
  padding: 0 16px 16px 16px;
  font-size: 14px;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .qa-box-content {
    padding: 0 12px 12px 12px;
  }
}

.answer-text {
  font-size: 16px;
  padding: 14px 14px;
  background: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .answer-text {
    padding: 10px 12PX 0PX 10PX;
  }
}

.access {
  position: relative;
  z-index: 1;
  margin: 90px 170px 0px;
  max-width: 980px;
  padding: 0 0 0 60px;
}
@media screen and (max-width: 767px) {
  .access {
    margin: 0;
    padding: 40px 16px 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .access {
    margin: 120px 0 0;
    padding: 0 0 0 60px;
  }
}

.access-inner {
  position: relative;
}
@media screen and (max-width: 767px) {
  .access-inner {
    position: static;
  }
}

.access-map {
  position: absolute;
  left: 420px;
  top: 0;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .access-map {
    position: static;
    margin-top: 20px;
  }
  .access-map iframe {
    width: 100%;
    height: 240px;
  }
}

.access-box {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .access-box {
    width: 100%;
    height: 500px;
    margin: 0;
    padding-left: 0;
  }
}

.access-title {
  font-size: 36px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .access-title {
    font-size: 30px;
  }
}

.map-address {
  margin-top: 50px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5 px;
}
@media screen and (max-width: 767px) {
  .map-address {
    margin-top: 30px;
    font-size: 14px;
    width: 100%;
  }
}
.map-address iframe {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .access-link-btn {
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    white-space: nowrap;
    margin-top: 20px;
  }
}

.util-link-map {
  font-size: 20px;
  letter-spacing: 0.2em;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  padding: 16px 70px;
  margin-top: 28px;
  margin-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .util-link-map {
    font-size: 18px;
    padding: 16px 90px 10px;
    margin: 0;
    width: 100%;
  }
}
.util-link-map:hover {
  background: #fff;
  color: #333;
  opacity: 1;
}

.contact {
  background: transparent url(../img/pc/contact-bg@2x.png) no-repeat center center/cover;
  margin-top: 256px;
  padding: 60px 40px;
}
@media screen and (max-width: 767px) {
  .contact {
    margin-top: 0;
    padding: 40px 16px;
  }
}

.contact-inner {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .contact-inner {
    margin-top: 0;
  }
}

.section-title-contact {
  font-size: 36px;
  font-weight: bold;
  padding-top: 60px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .section-title-contact {
    font-size: 30px;
    padding-top: 40px;
  }
}

.contact-message-box {
  background: url(../img/pc/contact1@2x.png) no-repeat center center/cover;
  border-radius: 12px 12px 0 0;
}
.contact-message {
  color: #fff;
  font-size: 16px;
  padding: 8px 0 50px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact-message {
    font-size: 14px;
    padding: 0px 16px 32px;
    text-align: left;
  }
}

.contact-form-box {
  background: #fff;
  padding: 60px 120px 44px 70px;
  border-radius: 0 0 10px 10px;
}
@media screen and (max-width: 767px) {
  .contact-form-box {
    padding: 36px 12px;
  }
}

.contact-form {
  padding-left: 50px;
}
@media screen and (max-width: 767px) {
  .contact-form {
    padding-left: 0px;
  }
}

.contact-form-row {
  display: flex;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .contact-form-row {
    display: block;
    margin-bottom: 28px;
  }
}

.contact-form-label.your-message {
  display: block;
}

.contact-form-label {
  margin: 0;
  display: flex;
  flex: 0 0 188px;
  align-items: center;
}

.contact-form-label.your-kind {
  height: 40px;
}
label.your-message {
  margin-bottom: 20px;
}

label {
  color: #3E3E3E;
  font-weight: bold;
}
label.is-required {
  display: inline-block;
  position: relative;
}
label.is-required::after {
  position: absolute;
  content: "必須";
  background: red;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  left: calc(100% + 8px);
  top: 0;
  padding: 2px 8px;
  border-radius: 2px;
  width: 40px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
}

.contact-selectBox {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .contact-selectBox {
    width: 100%;
  }
}

.contact-form-input {
  font-size: 16px;
  padding-top: 5px;
  width: 100%;
}

[type=text] {
  box-shadow: none;
  border: none;
  border-bottom: solid 1px #3e3e3e;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  padding: 5px 12px 2px;
  max-width: 532px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  [type=text] {
    width: 100%;
    padding: 5px 12px 2px 0px;
  }
}

[type=email] {
  box-shadow: none;
  border: none;
  border-bottom: solid 1px #3e3e3e;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  [type=email] {
    margin-top: 6px;
    width: 100%;
  }
}

select {
  max-width: 178px;
  width: 100%;
  font-size: 16px;
  padding: 12px 12px 10px 10px;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  select {
    font-size: 14px;
    max-width: 100%;
    margin-top: 10px;
    padding: 12px 10px 8px 10px;
  }
}

select.your-kind {
  height: 40px;
}
@media screen and (max-width: 767px) {
  select.your-kind {
    height: 38px;
  }
}

textarea {
  box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: none;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  height: 200px;
  resize: none;
  margin: 3px 0 0;
  padding: 10.5px;
}
@media screen and (max-width: 767px) {
  textarea {
    width: 100%;
    height: 160px;
    margin-top: 10px;
  }
}

.contact-form-check {
  display: flex;
}

.contact-radio {
  margin-right: 32px;
}

.contact-form-check [type=radio] {
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .contact-form-check [type=radio] {
    margin-top: 10px;
  }
}

.contact-privacy [type=checkbox] {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .contact-privacy [type=checkbox] {
    margin-top: 20px;
  }
}

contact-privacyLabel {
  font-size: 18px;
}

.contact-form-button {
  margin: 38px 0 0;
}
@media screen and (max-width: 767px) {
  .contact-form-button {
    text-align: center;
    margin: 0;
    padding: 36px 0 40px;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .contact-form-button {
    padding: 28px 0 0px;
  }
}

.util-link-submit {
  padding: 12px 48px;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  background: #B2B2B2 0% 0% no-repeat padding-box;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  transition: background 0.4s, color 0.4s;
}
.util-link-submit.-active {
  background: #FFAA3B;
  color: #fff;
  border: none;
}
@media screen and (max-width: 767px) {
  .util-link-submit {
    padding: 12px 44px;
  }
}

footer {
  background: #3E3E3E;
  padding: 50px 0;
}
@media screen and (max-width: 767px) {
  footer {
    padding: 40px 16px 50px 16px;
  }
}

.footer-box {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  padding: 0 120px;
}
@media screen and (max-width: 767px) {
  .footer-box {
    display: block;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer-nav-box {
    text-align: center;
  }
}

.footer-sns-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-sns-list {
    justify-content: center;
  }
}

.footer-sns-item {
  margin: 10px 32px 0 0;
}
@media screen and (max-width: 767px) {
  .footer-sns-item {
    margin: 10px 40px 0px 20px;
  }
}

.footer-sns-item-link {
  opacity: 0.6;
  font-size: 38px;
  color: #FFFFFF;
}

.footer-nav-lists {
  text-align: left;
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .footer-nav-lists {
    text-align: center;
    font-size: 14px;
  }
}

.footer-site-map {
  margin-top: 30px;
}

.footer-personal-info {
  margin-top: 18px;
}

.footer-privacy-policy {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .footer-logo-box {
    text-align: center;
  }
}

.footer-logo-name {
  font-size: 40px;
  font-weight: bold;
  color: #E3E3E3;
  padding-top: 10px;
}
@media screen and (max-width: 767px) {
  .footer-logo-name {
    font-size: 32px;
    margin-top: 24px;
  }
}

.footer-copy-right {
  font-size: 12px;
  margin-top: 10px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .footer-copy-right {
    text-align: center;
  }
}

.to-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .to-top {
    right: 0px;
    bottom: 0px;
  }
}
.to-top.is-show {
  opacity: 1;
  visibility: visible;
}
.to-top img {
  width: 50px;
  height: 50px;
  margin: 20px;
}
@media screen and (max-width: 767px) {
  .to-top img {
    width: 50px;
    height: 50px;
  }
}